<h1>List of photos</h1>
<form action="/">
  <label for ="input_url">Image</label>
  <input id= "input_url" type = "text" name = "inputurl" placeholder = "Enter a URL for the image...">
  <label for ="input_caption">Owner ID</label>
  <textarea id= "input_caption" type = "text" name = "inputcaption" placeholder = "Enter a caption for the photo..."></textarea>
  <label for ="input_owner">Owner ID</label>
  <input id= "input_owner" type = "text" name = "inputowner" placeholder = "Enter an ID of a User">  
  <button> Add photo</button>
</form>
<hr>
<table border ="1">
  <th>Image</th>	
  <th>Caption</th>	
  <th>Owner</th>	
  <th>Posted</th>
  <th></th>
  <tbody>
    <%@photos.each do |photo|%>
    <tr>
      <td><img src="<%=photo.image%>"> </td>
      <td><%=photo.caption%></td>
      <td><%=photo.poster.username%></td>
      <td><%=photo.created_at%></td>
      <td><a href="/photos/<%=photo.id%>">Show details</a></td>
    </tr>
    <%end%>
    
      <td> </td>
    
  </tbody>
</table>

